<!DOCTYPE html>

<html> 
<head>
    
<title>Ruby Paragraph and Unordered List PRACTICE</title>        
</head>
<body>
    
    <P>
    	This is a test paragraph for using with ruby

    </P>
    
    <ul>
    	<li>Entry One</li>
    	<li>Entry Two</li>
    	<li>Entry Three</li>

    </ul>
</body>
</html>